{
  "applications": {
    "php": [
      {
        "location" : "/*/**",
        "file_regex" : "php.ini",
        "description" : "Do not allow fopen wrappers to open remote URLs. Remote content cannot always be trusted; disabling these options ensures that fopen wrappers can load only local content.",
        "name" : "Remote Connections",
        "regex" : {
          "^allow_url_fopen = (.*)$" : "On|1",
          "^allow_url_include = (.*)$" : "On|1"
        }
      }
      ]
  }
}
