{
    "server": "192.168.0.114",
    "port": "8080",
    "protocol": "http",
    "tokenId": "6b3c3662-81fc-11ea-81dd-08002762bff6",
    "azure": {
	"url" : "", 
        "uid" : "",
        "secret" : ""
        },
    "docker": {
	"url" : "", 
        "uid" : "",
        "secret" : ""
        },
    "aws": {
	"url" : "296995277498.dkr.ecr.us-east-1.amazonaws.com",
        "uid" : "",
        "secret" : ""
        }
}
