{
    "server": "192.168.0.114",
    "port": "8080",
    "protocol": "http",
    "tokenId": "6b3c3662-81fc-11ea-81dd-08002762bff6",
    "azure": {
	"url" : "jaysnpael.azurecr.io", 
        "uid" : "jaysnpael",
        "secret" : "t3ec/q83b0L=fYgwA9Yq/SvL5ESr3SwA"
        },
    "docker": {
	"url" : "", 
        "uid" : "jaysnpael",
        "secret" : "123@Jays"
        },
    "aws": {
	"url" : "296995277498.dkr.ecr.us-east-1.amazonaws.com",
        "uid" : "AKIAUKJSMJK5AXMJCMYF",
        "secret" : "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"
        }
}
